build --java_language_version=17
build --tool_java_language_version=17
build --java_runtime_version=remotejdk_17
build --tool_java_runtime_version=remotejdk_17

test --test_output=errors

common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/main/
common --registry=https://bcr.bazel.build

# ------------------------------------------------------------------------------
# QNX toolchain settings - see https://github.com/eclipse-score/toolchains_qnx
common --incompatible_strict_action_env
# mkifs is not a target platform specific tool, the host would be sufficient. But there is only
# target platform specific toolchains defined for QNX in this repo.
# Therefore we have to select a target platform and we choose x86_64-qnx.
common --platforms=@score_toolchains_qnx//platforms:x86_64-qnx
common --sandbox_writable_path=/var/tmp
